@charset "UTF-8";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font: 1em monospace, monospace;
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font: 1em monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*_____________________________________________________________________________________*/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html,
body {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 16px/1.5 tahoma, verdana;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 320px;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 96%;
  height: 100%;
}

.s_about .main-title {
  margin-bottom: 2em;
}

.tabs__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em;
}

.tabs__content {
  max-width: 70em;
}

.tabs__tab {
  padding: 0.5em 1em;
  color: #222;
  font-weight: bold;
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tabs__tab:first-child {
  margin-left: -1em;
}

.tabs__tab:hover {
  color: #FF5C00;
}

.tabs__tab._active::before,
.tabs__tab._active::after {
  opacity: 1;
}

.tabs__tab._active::after {
  -webkit-transform: translate(-50%, 100%) scaleY(1);
      -ms-transform: translate(-50%, 100%) scaleY(1);
          transform: translate(-50%, 100%) scaleY(1);
}

.tabs__tab::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.2em;
  width: 75%;
  height: 1px;
  background: #FF5C00;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.tabs__tab::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-width: 8px;
  border-top-color: #FF5C00;
  left: 50%;
  bottom: 0.2em;
  -webkit-transform: translate(-50%, 30%) scaleY(0);
      -ms-transform: translate(-50%, 30%) scaleY(0);
          transform: translate(-50%, 30%) scaleY(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.s_create .btn {
  padding: 0.3em 4em;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.s_create .up-orange {
  margin-bottom: 2em;
}

.s_create .main-title {
  margin-bottom: 1.5em;
}

.create {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.create__block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__block:first-child {
  margin-right: 2em;
}

.create__box {
  max-width: 24em;
  margin-bottom: 6em;
}

.create__box:last-child {
  margin-bottom: 0;
}

.create-form {
  background: #fff;
  height: 100%;
  width: 100%;
  padding: 1.5em;
}

.create-form__block {
  width: 100%;
  height: 80%;
  min-height: 32em;
  margin-bottom: 4em;
  position: relative;
  border: 2px dashed #FF5C00;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.create-form__block:hover {
  background: #FFECE1;
}

.create-form__preview {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.create-form__preview .createImg-remove-btn {
  background: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 2em;
  line-height: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-form__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.create-form input[type=file] {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 0;
}

.create-form__drag-file {
  font-weight: bold;
  color: #DADADA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -150%);
      -ms-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.create-form__box {
  text-align: center;
  margin-bottom: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.create-form .tags {
  margin-bottom: 1em;
}

.create-form .tags .tag {
  margin-right: 1em;
}

.create-form .tags .tag:last-child {
  margin-right: 0;
}

#pay-link {
  opacity: 0;
  position: absolute;
  z-index: -1000;
  left: 0;
  bottom: 0;
}

.s_deposit._sec {
  padding-top: 10em;
}

.s_deposit .container {
  max-width: 60em;
}

.s_deposit .main-title {
  text-align: center;
  margin-bottom: 2em;
}

.s_deposit .main-title img {
  margin: 0 auto;
}

.s_deposit .text._b {
  text-align: center;
}

.deposit__block {
  margin-bottom: 4em;
}

.deposit .btn {
  display: block;
  margin: 0 auto;
  font-size: 3em;
  max-width: 10em;
  width: 100%;
}

.points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.points .border-box {
  max-width: 20em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.border-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em;
  color: #FF5C00;
  border: 0.2em solid;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.border-box._active {
  background: #FF5C00;
  color: #fff;
}

.border-box._active .border-box__title {
  color: #fff;
}

.border-box._active h3 {
  color: currentColor;
}

.border-box input {
  display: none;
}

.border-box input:checked + .border-box__inp-style::before {
  opacity: 1;
}

.border-box__inp-style {
  width: 3.5em;
  height: 3.5em;
  border: 0.2em solid;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-box__inp-style::before {
  background: currentColor;
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  opacity: 0;
}

.border-box__block {
  margin-left: 3em;
}

.border-box__img {
  background: #fff;
  width: 6em;
  height: 4em;
  border-radius: 0.4em;
  overflow: hidden;
  margin-bottom: 1em;
}

.border-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  pointer-events: none;
}

.border-box__title {
  font: bold 2em Montserrat;
  color: #222;
}

.border-box__text {
  font-weight: bold;
}

.s_how-works .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s_how-works .btn {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 0.3em 3em;
}

.how-works {
  margin-bottom: 2em;
}

.how-works__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.how-works__el {
  max-width: 16em;
  min-width: 16em;
  width: 100%;
  margin: 1em;
}

.step__img {
  width: 70%;
  height: 16em;
  margin-bottom: 2em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.step__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.step__index {
  background: #FF5C00;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5em;
  height: 1.5em;
}

.s_intro {
  height: 100vh;
  min-height: 700px;
  max-height: 1600px;
}

.intro {
  height: 100%;
  padding: 6em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro__block {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.intro__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__box:last-child {
  margin-top: 4em;
}

.intro__images {
  position: absolute;
  right: 0;
  top: 50%;
  width: 55%;
  height: 32em;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%);
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.intro__img {
  background: gray;
  width: 100%;
  height: 100%;
  margin-right: 1em;
  border-radius: 0.5em;
  overflow: hidden;
}

.intro__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.created-users {
  font-weight: bold;
  font-size: 4em;
}

.s_media {
  background: #fff;
}

.s_media .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s_media .btn {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.media {
  margin-bottom: 4em;
}

.media .text {
  font-size: 1.5em;
}

.media__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 14em);
  grid-gap: 2em;
}

.media__logo {
  margin-bottom: 1em;
  width: 8em;
}

.media__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.media__el {
  background: #FFFAEA;
  padding: 1em 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media__el:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  padding: 2em;
}

.media__el:first-child .media__logo {
  font-size: 2em;
}

.media__el:first-child .text {
  font-size: 3em;
  margin-bottom: 0em;
}

.media__el:last-child {
  grid-column: 3/span 2;
  grid-row: 2/span 1;
}

.s_roadmap {
  background: #fff;
  padding: 4em 0;
  width: 100%;
  padding-bottom: 8em;
}

.roadmap__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roadmap__el {
  margin-bottom: 8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.roadmap__el:last-child {
  margin-bottom: 0;
}

.roadmap__el .roadmap__road {
  max-width: 30em;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.roadmap__el:nth-child(even) .roadmap__road {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.img-modal {
  width: 90em;
  height: 1000px;
}

.img-modal img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.s_my-photos__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.s_my-photos__block .btn {
  font-size: 2em;
}

.my-photos-nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em auto;
}

.my-photos-nav__link {
  color: #FF5C00;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin-right: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.2em;
  line-height: 0.5em;
  border: 1px solid;
}

.my-photos-nav__link:last-child {
  margin-right: 0;
}

.my-photos__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-photos__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.my-photos__el#myPhotos_el-first {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 0;
}

.my-photos__el#myPhotos_el-first .my-photos__arrow {
  opacity: 0;
}

.my-photos__arrow {
  display: block;
  margin: 0 8em;
  width: 8em;
  height: auto;
}

.my-photos__not-processed {
  width: 100%;
  max-width: 40em;
}

.my-photos__processed {
  width: 100%;
  max-width: 40em;
}

.my-photos__processed img {
  display: none;
}

.my-photos__img {
  width: 100%;
  height: 35em;
  position: relative;
  overflow: hidden;
  border: 0.2em solid;
  border-radius: 1em;
}

.my-photos__preview,
.my-photos__img_error,
.my-photos__img_load {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.my-photos__preview {
  background: gray;
  z-index: 10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.my-photos__img_error {
  width: 50%;
  height: auto;
  -webkit-animation: error 0.8s ease infinite alternate;
          animation: error 0.8s ease infinite alternate;
}

.my-photos__img_load {
  width: 50%;
  height: auto;
  max-width: 10em;
  -webkit-animation: clock_load 5s ease infinite alternate;
          animation: clock_load 5s ease infinite alternate;
}

.my-photos__el .my-photos__not-processed .my-photos__preview {
  display: block;
}

.my-photos__el .my-photos__processed .my-photos__img {
  background: #FFEAD2;
  border-color: #FF5C00;
}

.my-photos__el._success .my-photos__processed .my-photos__preview {
  display: block;
}

.my-photos__el._load .my-photos__processed .my-photos__img_load {
  display: block;
}

.my-photos__el._error .my-photos__processed .my-photos__img_error {
  display: block;
}

@-webkit-keyframes clock_load {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(1);
            transform: translate(-50%, -50%) scaleY(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(-1);
            transform: translate(-50%, -50%) scaleY(-1);
  }
}

@keyframes clock_load {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(1);
            transform: translate(-50%, -50%) scaleY(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(-1);
            transform: translate(-50%, -50%) scaleY(-1);
  }
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes error {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

.pay-info {
  width: 100%;
  height: 80vh;
  padding: 1em;
  padding-top: 8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pay-info .title {
  margin-bottom: 2em;
  line-height: 1.5em;
  max-width: 25em;
}

.pay-info .btn {
  font-size: 2em;
}

body {
  background: #FFFAEA;
  color: #222;
  font-family: "Roboto";
}

body._noScroll {
  overflow: hidden;
}

.main-title {
  font: bold 3.5em/1.2em "Montserrat";
  margin-bottom: 0.5em;
}

.main-text {
  font: 2em "Roboto";
  text-transform: lowercase;
  margin-bottom: 0.5em;
}

.title {
  font: bold 2em "Montserrat";
  margin-bottom: 0.5em;
}

.text {
  font: 1.2em "Roboto";
  margin-bottom: 1em;
}

.text._b {
  font-weight: bold;
  font-size: 1.4em;
}

section._sec {
  padding: 6em 0;
}

section._sec._first {
  padding-top: 10em;
}

._span-orange {
  color: #FF5C00;
}

.up-orange {
  text-transform: uppercase;
  font-weight: bold;
  color: #FF5C00;
  letter-spacing: 0.05em;
}

.tag {
  background: #FF5C00;
  padding: 0.5em 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.5em;
}

.btn {
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: bold;
  color: #222;
  display: inline-block;
  border: 2px solid #FF5C00;
  border-radius: 1000px;
  padding: 0.3em 1.5em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  height: 110%;
  background: #FF5C00;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  border-radius: 1000px;
  opacity: 0;
}

.btn:hover {
  color: #fff;
  border-color: transparent;
}

.btn:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
  opacity: 1;
  width: 120%;
  height: 110%;
}

.btn._orange {
  background: #FF5C00;
  color: #fff;
}

.btn._orange::before {
  background: #FFFAEA;
}

.btn._orange:hover {
  color: #222;
}

.inp {
  background: #fff;
  display: block;
  border-radius: 10em;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: 0.1em solid #FF5C00;
  color: #222;
}

.authorization {
  background: #FFEAD2;
  border: 0.2em solid #FF5C00;
  width: 25em;
  min-height: 30em;
  border-radius: 3em;
  padding: 2em;
}

.authorization .btn {
  display: block;
  font-size: 1.2em;
  width: 100%;
}

.authorization .inp {
  width: 100%;
  margin-bottom: 1em;
}

.authorization__block {
  margin-bottom: 2em;
}

.authorization__block:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.authorization__change.btn {
  display: inline-block;
  width: auto;
}

.authorization__change.btn span::before {
  content: "Sing in";
}

.authorization__back {
  background: #FF5C00;
  display: block;
  width: 3em;
  height: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

.authorization__back:hover {
  opacity: 1;
}

.authorization__back::before {
  content: "‹";
  position: absolute;
  font-weight: bold;
  color: #fff;
  font-size: 2em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.authorization__logo {
  width: 10em;
  margin-bottom: 1em;
}

.authorization__forgot {
  color: #222;
}

.authorization__sing-in.btn {
  display: none;
}

.authorization__form._sing .authorization__change span::before {
  content: "Sing up";
}

.authorization__form._sing .authorization__sing-up.btn {
  display: none;
}

.authorization__form._sing .authorization__sing-in.btn {
  display: block;
}

.footer {
  background: #FFFAEA;
  padding: 3em 0.5em;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box {
  font-weight: bold;
}

.footer .nav__link::after {
  -webkit-transform: translate(-50%, 0%) scaleY(-1);
      -ms-transform: translate(-50%, 0%) scaleY(-1);
          transform: translate(-50%, 0%) scaleY(-1);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 330px;
  padding: 1em;
  background: #FFFAEA;
  z-index: 50;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 10em;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__el {
  margin: 0 1em;
}

.nav__link {
  padding: 0.5em 1em;
  color: #222;
  font-weight: bold;
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: #FF5C00;
}

.nav__link._active::before,
.nav__link._active::after {
  opacity: 1;
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.2em;
  width: 75%;
  height: 1px;
  background: #FF5C00;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav__link::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-width: 8px;
  border-top-color: #FF5C00;
  left: 50%;
  bottom: 0.2em;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  height: 4em;
  display: none;
  font-size: 0.8em;
}

.hamburger._active .hamburger__line {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.hamburger._active .hamburger__line::before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

.hamburger._active .hamburger__line::after {
  -webkit-transform: translateY(0) rotate(90deg);
      -ms-transform: translateY(0) rotate(90deg);
          transform: translateY(0) rotate(90deg);
}

.hamburger__line {
  background: #FF5C00;
  width: 90%;
  height: 0.6em;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-1em);
      -ms-transform: translateY(-1em);
          transform: translateY(-1em);
  position: relative;
}

.hamburger__line::before,
.hamburger__line::after {
  background: inherit;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hamburger__line::before {
  -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
          transform: translateY(1em);
}

.hamburger__line::after {
  -webkit-transform: translateY(2em);
      -ms-transform: translateY(2em);
          transform: translateY(2em);
}

/* fix */

@-webkit-keyframes header_f {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes header_f {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header.header_fixed {
  position: fixed;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: header_f;
          animation-name: header_f;
  -webkit-box-shadow: 0 0.1em 1em 0.5em #222;
          box-shadow: 0 0.1em 1em 0.5em #222;
}

.loader {
  background: rgba(34, 34, 34, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#escapingBallG {
  position: relative;
  width: 224px;
  height: 77px;
  margin: auto;
}

.escapingBallG {
  background: #e3830d;
  position: absolute;
  top: 0;
  left: 0;
  width: 77px;
  height: 77px;
  border-radius: 39px;
  -webkit-animation-name: bounce_escapingBallG;
          animation-name: bounce_escapingBallG;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.5, 1);
      -ms-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
}

@-webkit-keyframes bounce_escapingBallG {
  0% {
    left: 0px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }

  25% {
    left: 74px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
  }

  50% {
    left: 186px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }

  75% {
    left: 74px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
  }

  100% {
    left: 0px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }
}

@keyframes bounce_escapingBallG {
  0% {
    left: 0px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }

  25% {
    left: 74px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
  }

  50% {
    left: 186px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }

  75% {
    left: 74px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
  }

  100% {
    left: 0px;
    -webkit-transform: scale(0.5, 1);
            transform: scale(0.5, 1);
  }
}

.modal {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-animation: modal 1s ease forwards;
          animation: modal 1s ease forwards;
}

.modal._active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal__content {
  position: relative;
  z-index: 10;
}

.modal__remove {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 0.5em;
  padding: 0.3em;
  border-radius: 1000px;
  cursor: pointer;
  z-index: 1000000000;
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.select {
  position: relative;
  min-width: 10em;
}

.select__login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.select__login._btns {
  display: none;
}

.select__preview {
  position: relative;
}

.select__preview::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.15em solid #FF5C00;
  border-radius: 100em;
  z-index: -1;
}

.select__preview-el {
  width: 100%;
  padding: 0.3em 1em;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__preview-el:last-child {
  padding-left: 0.5em;
}

.select__preview-el._orange {
  background: #FF5C00;
  color: #fff;
  text-align: center;
  border-radius: 100em;
}

.select__preview-el._orange .coin-logo {
  width: 2em;
  margin-right: 0.5em;
}

.select__list {
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: auto;
  border: 0.15em solid #FF5C00;
  border-radius: 0.5em;
  background: #FFFAEA;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateY(90%) scaleY(0);
      -ms-transform: translateY(90%) scaleY(0);
          transform: translateY(90%) scaleY(0);
  opacity: 0;
  pointer-events: none;
}

.select__el {
  border-bottom: 0.15em solid #FF5C00;
}

.select__el:last-child {
  border: none;
}

.select__link {
  color: #222;
  font-weight: bold;
  padding: 0.3em 0.5em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  cursor: pointer;
}

.select__link:hover {
  background: #FFD3BA;
  padding-left: 1em;
}

.select._login .select__login {
  display: none;
}

.select._login .select__login._btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.select._active .select__list {
  opacity: 1;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  pointer-events: auto;
}

#sign_in {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sign_in:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

#sign_up {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sign_up:hover {
  color: #FF5C00;
}

@media (min-width: 820px) {
  .gallery {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-5em);
        -ms-transform: translateY(-5em);
            transform: translateY(-5em);
  }

  /* position */

  .gallery__slide {
    border-radius: 0.5em;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0.4em 0.1em rgba(34, 34, 34, 0.2);
            box-shadow: 0 0 0.4em 0.1em rgba(34, 34, 34, 0.2);
  }

  .gallery__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .gallery__slide._l {
    width: 18em;
    height: 12em;
  }

  .gallery__slide._s {
    width: 10em;
    height: 11em;
  }

  .gallery__slide._m {
    width: 11em;
    height: 14em;
  }

  .gallery._1 .gallery__slide:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
  }

  .gallery._1 .gallery__slide:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(70%, 50%);
        -ms-transform: translate(70%, 50%);
            transform: translate(70%, 50%);
  }

  .gallery._1 .gallery__slide:nth-child(3) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(15%, 90%);
        -ms-transform: translate(15%, 90%);
            transform: translate(15%, 90%);
  }

  .gallery._1 .gallery__slide:nth-child(4) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(100%, 150%);
        -ms-transform: translate(100%, 150%);
            transform: translate(100%, 150%);
  }

  .gallery._2 {
    right: 0;
    left: auto;
  }

  .gallery._2 .gallery__slide:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-280%, 70%);
        -ms-transform: translate(-280%, 70%);
            transform: translate(-280%, 70%);
  }

  .gallery._2 .gallery__slide:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-200%, 20%);
        -ms-transform: translate(-200%, 20%);
            transform: translate(-200%, 20%);
  }

  .gallery._2 .gallery__slide:nth-child(3) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-170%, 130%);
        -ms-transform: translate(-170%, 130%);
            transform: translate(-170%, 130%);
  }

  .gallery._2 .gallery__slide:nth-child(4) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-90%, 90%);
        -ms-transform: translate(-90%, 90%);
            transform: translate(-90%, 90%);
  }

  .gallery._3 .gallery__slide:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(180%, 70%);
        -ms-transform: translate(180%, 70%);
            transform: translate(180%, 70%);
  }

  .gallery._3 .gallery__slide:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(100%, 20%);
        -ms-transform: translate(100%, 20%);
            transform: translate(100%, 20%);
  }

  .gallery._3 .gallery__slide:nth-child(3) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(70%, 130%);
        -ms-transform: translate(70%, 130%);
            transform: translate(70%, 130%);
  }

  .gallery._3 .gallery__slide:nth-child(4) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-10%, 90%);
        -ms-transform: translate(-10%, 90%);
            transform: translate(-10%, 90%);
  }
}

@media (max-width: 1500px) {
  .img-modal {
    width: 80em;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 0.9em;
  }

  .container {
    max-width: 1024px;
  }

  .my-photos__img {
    height: 28em;
  }
}

@media (max-width: 1200px) {
  .img-modal {
    width: 60em;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 0.85em;
  }

  .container {
    max-width: 820px;
  }

  .intro__images {
    height: 28em;
  }

  .my-photos__img {
    height: 22em;
  }
}

@media (max-width: 850px) {
  .img-modal {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 820px) {
  body {
    font-size: 0.8em;
  }

  .container {
    max-width: 480px;
  }

  .create {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .create__block {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .create__box:last-child {
    margin-bottom: 2em;
  }

  .points {
    grid-template-columns: repeat(2, 1fr);
  }

  .points .border-box:nth-child(odd) {
    justify-self: end;
  }

  .points .border-box:nth-child(even) {
    justify-self: start;
  }

  .payment .border-box {
    font-size: 0.7em;
  }

  .intro__block {
    width: 100%;
  }

  .intro__images {
    right: 0;
    top: auto;
    bottom: 0;
    width: 55%;
    height: 15em;
  }

  .media__list {
    grid-template-rows: repeat(4, 12em);
  }

  .media__el:nth-child(2) {
    grid-column: 1/span 2;
  }

  .media__el:nth-child(3) {
    grid-column: 3/max;
  }

  .media__el:first-child {
    grid-column: 1/max;
    grid-row: 1/span 2;
  }

  .media__el:first-child .text {
    font-size: 2.5em;
    margin-bottom: 2em;
  }

  .media__el:last-child {
    grid-column: 1/max;
    grid-row: 4/span 1;
  }

  .roadmap__el {
    position: relative;
  }

  .roadmap__el::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 90%;
    height: 2px;
    background-color: #222;
    opacity: 0.5;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .roadmap__el .roadmap__road {
    width: 100%;
    max-width: 100%;
  }

  .gallery {
    width: 100%;
    height: 25em;
    margin-bottom: 2em;
  }

  .gallery__track {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .gallery__list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .gallery__slide {
    width: 100%;
    height: 100%;
    min-width: 100%;
  }

  .gallery__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .s_my-photos__block .btn {
    font-size: 1.5em;
  }

  .my-photos__arrow {
    margin: 0 4em;
    font-size: 0.6em;
  }

  .my-photos__img {
    height: 18em;
  }

  .footer .nav {
    display: none;
  }

  .hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 50;
  }

  .header .logo {
    z-index: 50;
  }

  .header .btn {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 1.5em;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
    color: #fff;
    background-color: #FF5C00;
  }

  .header__block {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    z-index: -1000;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    pointer-events: none;
  }

  .header__block.hamburger-menu_active {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: auto;
    z-index: 49;
  }

  .header__block .nav {
    width: 100%;
    height: 100%;
  }

  .header__block .nav__list {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__block .nav__link {
    color: #fff;
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.75em;
  }

  .points .border-box {
    font-size: 0.7em;
  }

  .payment .border-box {
    font-size: 0.5em;
  }

  .how-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .step__img {
    margin: 0 auto;
  }

  .step__index {
    margin: 0 auto;
  }

  .intro__block {
    text-align: center;
  }

  .intro__box {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__images {
    display: none;
  }

  .media {
    font-size: 0.8em;
  }

  .s_my-photos__block .btn {
    font-size: 1em;
    text-align: center;
  }

  .my-photos__arrow {
    margin: 0 1em;
    font-size: 0.5em;
  }

  .logo {
    width: 6em;
  }
}

@media (max-width: 380px) {
  .my-photos__img {
    height: 15em;
  }
}

@media (min-width: 820px) and (max-width: 1024px) {
  .gallery {
    font-size: 0.9em;
  }
}

@media (max-height: 1100px) {
  .img-modal {
    height: 800px;
  }
}

@media (max-height: 900px) {
  .img-modal {
    height: 600px;
  }
}

@media (max-height: 700px) {
  .img-modal {
    height: 400px;
  }
}

@media (max-height: 500px) {
  .img-modal {
    height: 200px;
  }
}